[user]
    email = j@siga.icu
    name = Egor Bychin

[diff]
    tool = nvimdiff

[difftool]
	prompt = false
    trustExitCode = true

[difftool "nvimdiff"]
    cmd = "nvim -dM \"$LOCAL\" \"$REMOTE\""
[alias]
	showtool = "!showci () { rev=$(git rev-parse \"${*:-HEAD}\"); git difftool $rev~1 $rev; }; showci"
