[user]
    email = j@siga.icu
    name = Yegor Bychin

[diff]
    tool = nvimdiff

[difftool]
	prompt = false
    trustExitCode = true

[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
